/*page headers */

header{
	height: 100px;
	font-size: 38px;
	width: 100%;
	color: #003366;
	background-color: #fff;
	padding-left: 20%;
	line-height: 100px;
}

h1{
	height:60px;
	background-color: #003366;
	color: #fff;
	text-align: center;
	line-height: 60px;
}

/* Admin page*/

*{
	margin: 0px;
	padding: 0px;
}

#sideMenu{
	width: 20%;
	float: left;
	min-height: 400px;
}

#mainContent{
	width: 78%;
	background-color: #eee;
	float: left;
	min-height: 400px;
	padding-left: 2%;
	padding-top: 2%;
	line-height: 160%;
}
#listOfContent{
	list-style: none;
}
#mainTitle{
	height: 60x;
}

footer{
	clear:both;
	height:60px;
	background-color: #003366;
	color: #fff;
	text-align: center;
	line-height: 60px;
}